<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My Food Plan</title>

<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet">


</head>
<body>

<div class="container">
    <div class="header">
    	<div class="col-lg-1 col-sm-2 col-2 float-left">
        	<a href=""><div class="hdr-left-icon"><img src="/imgs/arrow.png"></div></a>
        </div>
        <div class="col-lg-10 col-sm-8 col-8 float-left">
        	<h2>My Food Plan</h2>
        </div>
    </div>
    <div class="content">
    	<div class="content-sbhdng text-center">Pick the plan that fits you best</div>
        <div class="intensity-box">
            <div class="col-lg-10 col-sm-10 col-9 float-left">
                <div class="intensity-weight"><strong>Easier</strong> lose 0.5 lbs / week</div>
                <div class="intensity-estimate">Estimated Date Calories Deficit</div>
                <div class="intensity-date">Mar, 2, 2024 <span>-250 / day</span></div>
            </div>
            <div class="col-lg-2 col-sm-2 col-3 float-right">
                <input type="checkbox" class="intensity-checkbox">
            </div>
        </div>
        <div class="intensity-box">
            <div class="col-lg-10 col-sm-10 col-9 float-left">
                <div class="intensity-weight"><strong>Easier</strong> lose 0.5 lbs / week</div>
                <div class="intensity-estimate">Estimated Date Calories Deficit</div>
                <div class="intensity-date">Mar, 2, 2024 <span>-250 / day</span></div>
            </div>
            <div class="col-lg-2 col-sm-2 col-3 float-right">
                <input type="checkbox" class="intensity-checkbox">
            </div>
        </div>
        <div class="intensity-box">
            <div class="col-lg-10 col-sm-10 col-9 float-left">
                <div class="intensity-weight"><strong>Easier</strong> lose 0.5 lbs / week</div>
                <div class="intensity-estimate">Estimated Date Calories Deficit</div>
                <div class="intensity-date">Mar, 2, 2024 <span>-250 / day</span></div>
            </div>
            <div class="col-lg-2 col-sm-2 col-3 float-right">
                <input type="checkbox" class="intensity-checkbox">
            </div>
        </div>
        
        <a href="" class="form-btn text-center" value="Submit">Next</a>
    </div>
</div>


</body>
</html>
