{{#> main}}
{{#*inline "content"}}

<div class="container">
    <div class="content">
    	<div class="content-sbhdng">Information Require</div>
        <div class="content-hdng">About you</div>
        <form>
        	<div class="content-form-box-2">
            	<div class="form-name">Name</div>
                <input type="text" class="form-input" placeholder="Enter Name">
                <div class="form-img"><img src="/imgs/user-icon.jpg"></div>
            </div>
            <div class="content-form-box-2">
            	<div class="form-name">Date of Birth</div>
                <input type="datetime" class="form-input">
                <div class="form-img"><img src="/imgs/calender.jpg"></div>
            </div>
            <div class="content-form-box-2">
            	<div class="form-name">Height</div>
                <input type="text" class="form-input" placeholder="Enter Email">
            </div>
            <div class="content-form-box-2">
            	<div class="form-name">Weight</div>
                <input type="text" class="form-input" placeholder="Enter Email">
				<div class="form-img">Feet</div>
            </div>
            <div class="content-form-box">
            	<div class="form-name">Password</div>
                <input type="password" class="form-input" placeholder="******">
                <div class="form-img"><img src="/imgs/eye-icon.jpg"></div>
            </div>
            <div class="content-form-box">
            	<div class="form-name">Confirm Password</div>
                <input type="password" class="form-input" placeholder="******">
                <div class="form-img"><img src="/imgs/eye-icon.jpg"></div>
            </div>
            <input type="submit" class="form-btn" value="Submit">
        </form>
    </div>
</div>
{{/inline}}
{{/main}}
