{{#>main}}
{{#*inline "content"}}
<div class="header">
    <div class="col-lg-1 col-sm-2 col-2 float-left">
        <a href="">
            <div class="hdr-left-icon"><img src="/imgs/top-user.png"></div>
        </a>
    </div>
    <div class="col-lg-10 col-sm-8 col-8 float-left">
        <h2>My Food Plan</h2>
    </div>
    <div class="col-lg-1 col-sm-2 col-2 float-right">
        <div class="hdr-right-icon"><a href=""><img src="/imgs/message.png"></a></div>
    </div>
</div>
<div class="content">
    <div class="content-chart">
        <div class="pie animate" style="--p:40;--c:#bc6ab8"><img src="/imgs/chart-icon.png"> 220 <span>Cal</span>
        </div>
    </div>
    <div class="content-cate">
        <div class="col-lg-6 col-sm-6 col-12 float-left p-3">
            <div class="content-cate-box">
                <div class="content-cate-box-icon"><img src="/imgs/cate-icon.png"></div>
                <div class="content-cate-box-add">+</div>
                <div class="content-cate-box-hdng">Meal Plans</div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-12 float-left p-3">
            <div class="content-cate-box">
                <div class="content-cate-box-icon"><img src="/imgs/cate-icon.png"></div>
                <div class="content-cate-box-add">+</div>
                <div class="content-cate-box-hdng">Workout Plans</div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-12 float-left p-3">
            <div class="content-cate-box">
                <div class="content-cate-box-icon"><img src="/imgs/cate-icon.png"></div>
                <div class="content-cate-box-add">+</div>
                <div class="content-cate-box-hdng">Meal Plans</div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-12 float-left p-3">
            <div class="content-cate-box">
                <div class="content-cate-box-icon"><img src="/imgs/cate-icon.png"></div>
                <div class="content-cate-box-add">+</div>
                <div class="content-cate-box-hdng">Workout Plans</div>
            </div>
        </div>
    </div>
</div>
{{/inline}}
{{/main}}